{
    "presets": [
        "flow",
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "ie >= 11"
                    ]
                }
            }
        ],
        "stage-0",
        "react"
    ]
}